<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta content="找工作,招聘网,招聘信息,互联网招聘" name="keywords">
    <link rel="stylesheet" type="text/css" href="../static/bbs.css">
</head>
<body>
<div class="header">
    <h1 class="logo">拉勾网</h1>
    <ul class="tab">
        <li><a href="main">首页</a></li>
        <li><a href="template">简历模板</a></li>
        <li><a href="bbs" class="selectTab">论坛</a></li>
    </ul>
</div>
<div class="search-container">
    <div class="first">
        <a href="javascript:;" class="position">言职点评</a>
        <a class="disable">精选推荐 ( 10+ )</a>
    </div>
</div>
<div class="container">
    <div class="list">
        <ul>
            {% for item in list %}
            <li>
                <h3>{{ item.title }}</h3>
                <p>{{ item.comment }}</p>
                <hr>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="list-right">
        <div>
            <img src="../static/bbs1.jpg" alt="">
        </div>
        <div>
            <img src="../static/bbs2.jpg" alt="">
        </div>
        <div>
            <img src="../static/bbs3.jpg" alt="">
        </div>
        <div>
            <img src="../static/bbs4.jpg" alt="">
        </div>
        <div>
            <img src="../static/bbs5.jpg" alt="">
        </div>
    </div>
</div>
<div class="footer">
    <img src="../static/footer.png" alt="">
    <ul>
        <li>启航APP</li>
        <li>启航微博</li>
        <li>启航微信</li>
        <li>版本更新</li>
        <li>帮助中心</li>
        <li>联系我们</li>
        <li>服务热线 : 4006-2828-35 (9:00 -18:00)</li>
    </ul>
</div>
<a href="javascript:;" class="backtop"></a>
<script src="../static/jquery.js"></script>
<script src="../static/main.js"></script>
</body>
</html>